<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/mylist">My List</a>
    </header>
    <main>
        <% if(!mylist.length){%>
            <h2> No Jobs in Your List</h2>
        <%} else{%>
        <%mylist.forEach(element=>{%>
            <section>
                <ul>
                    <li>title: <%=element.title%></li>
                    <li>company: <%=element.company%></li>
                    <li>location: <%=element.location%></li>
                    <li>url: <%=element.url%></li>
                </ul>
                <form action="/details/<%=element.id%>" method="GET">
                    <button>details</button>
                </form>
            </section>
            <%})}%>
        </main>
</body>
</html>